<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
   <servlet>
    <servlet-name>Page4ServiceImpl</servlet-name>
    <servlet-class>formGWT.server.Page4ServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Page4ServiceImpl</servlet-name>
    <url-pattern>/formgwt/Page4</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>FormGWT.html</welcome-file>
  </welcome-file-list>

</web-app>
